/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

a, a:hover, a:active, a:visited{
  text-decoration: none;
}

p{
  line-height: 25px;
}

.container.main{
  margin-top: 30px;
}

.content{
  width: 88%;
  float: right;
}

.portfolio-name{
  font-family: 'Poiret One', cursive;
  font-size: 43px;
  text-align: center;
  padding: 60px 0;
}

.side-nav{
  float: left;
  padding: 45px 0;
  color: #aaaeb4;
  width: 12%;
  background: #1f2b36;
  position: fixed;
  height: 100%;
  text-align: center;

  a{
    color: #aaaeb4;
  }

  a:hover{
    color: white;
  }

  a, a:hover, a:active, a:visited{
    text-decoration: none;
  }

  ul{
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    margin: 40px 0;

    li a:hover{
      color: white;
      text-decoration: none;
      border-bottom: solid thin #de4b39;
    }
  }
}

.side-nav ul li{
  margin: 22px 0;
}

.feed{
  text-align: right;
}

.header{
  padding: 30px;
  border-bottom: solid thin #ECECEC;
}

.section-title{
  display: inline-block;
  border-bottom: solid 2px #de4b39;
  padding-bottom: 8px;
  margin: 40px 0;
  text-transform: uppercase;
}

.blog-content{
  padding-bottom: 25px;
    border-bottom: solid 2px #ECECEC;
    margin-bottom: 25px;
}

.blog-title{
  padding: 20px 0;
  font-size: 47px;
  color: #43402f;
  border-bottom: dashed thin #B3B3B3;
  margin-bottom: 28px;
  //font-family: 'Dosis', sans-serif;


  a{
    color: #43402f;
  }

  a:hover{
    color: #de4b39;
  }
}

.blog-date{
  margin: 10px 0;
}

.blog-teaser{
  line-height: 26px;
}

.social .fa{
  font-size: 26px;
  margin: 5px 0;
}

.portfolio-box{
  overflow: hidden;

  .portfolio-cover{
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    background: rgba(247, 160, 42, .4);
    color: white;
    text-align: center;
    padding-top: 81px;
    font-size: 24px;
    transition: .3s top ease-in;
  }
}

.portfolio-box:hover .portfolio-cover{
  top:0;
}

.admin-select-content{
  margin-top: 20px;
}

#post-title-banner{

}

.view-blog-content{
  margin-top: 20px;

  .blog{
    line-height: 29px;
    margin-top: 16px;
  }
}

.blog, .blog-teaser{
  img{
    max-width: 100%;
    border: solid thin #ECECEC;
  }
}

.divider {
  height: 2px;
  width: 100%;
  background: #ECECEC;
  margin: 40px 0;
}

.reveal-animation {
      width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.animation-wrapper{
  position: relative;
}

.post-meta{
  color: #888;
  margin-bottom: 30px;

  .blog-teaser{
        color: #4A4A4A;
 }
}

.post-meta-share{
  margin: 20px 0;

  span:first-child{
    position: relative;
    top: -2px;
    margin-right: 5px;
  }

  span:nth-child(2){
    margin-right: 10px;
  }
}

.blog-content{
      pre{
            background: #1F2B36;
            color: white;
            word-wrap: normal;
      }

      code{
            white-space: pre;
            line-height: 21px;
      }
}

// .code {
//       background: #1F2B36;
//       color: #F8F8F2;
//       padding: 10px;
//       border-radius: 5px;
// }



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
